services:
  - type: web
    name: n8n
    env: node
    plan: free
    buildCommand: echo "Skipping build"
    startCommand: npx n8n
    envVars:
      - key: NODE_VERSION
        value: 20.19.0
      - key: N8N_ENCRYPTION_KEY
        value: "218983893jehfbui23f983fun23fn23"
      - key: DB_TYPE
        value: postgresdb
      - key: DB_POSTGRESDB_CONNECTION_URL
        sync: false
        value: "postgresql://user:password@host:5432/dbname"
